{% capture nowtime %}{{'now' | date: '%s'}}{% endcapture %}
{% assign events = site.events | where: "lang", page.lang | sort: "date" %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="content">
      <div class="content__header">
        <h2>{{ site.data.translations.upcoming[page.lang] }}</h2>
      </div>
    </div>
  </div>
</div>
{% for event in events %}
{% capture eventtime %}{{event.date | date: '%s'}}{% endcapture %}
{% if eventtime >= nowtime %}
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="content-background">
      <div class="content">
        <header class="content__header">
          <h3 id="{{ event.id }}" class="content__header-title">{{ event.title }}</h3>
            <time class="content__header-paragraph" datetime="{{ event.date  | date_to_xmlschema }}">
              {{ event.date | date: "%d/%m/%Y - %R"}}
            </time>
        </header>
        {{ event.content }}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="content">
      <div class="content__header">
        <h2>{{ site.data.translations.past[page.lang] }}</h2>
      </div>
    </div>
  </div>
</div>
{% for event in events %}
{% capture eventtime %}{{event.date | date: '%s'}}{% endcapture %}
{% if eventtime < nowtime %}
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="content-background">
      <div class="content">
        <header class="content__header">
          <h3 id="{{ event.id }}" class="content__header-title">{{ event.title }}</h3>
            <time class="content__header-paragraph" datetime="{{ event.date  | date_to_xmlschema }}">
              {{ event.date | date: "%d/%m/%Y - %R"}}
            </time>
        </header>
        {{ event.content }}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}