<footer class="footer">
    <div class="footer__content background--donkerblauw">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <span class="footer__header footer__header--title">{{ site.data.translations.tagline[page.lang] }}</span>
                 </div>
                <div class="col-xs-12 col-md-11 col-md-offset-1">
                    {{ site.data.translations.madeby[page.lang] }} <a href="https://github.com/arianvp">Arian van Putten</a>
                </div>
            </div>
        </div>
    </div>
</footer>
