<header class="header" role="banner">
    <div class="header-logo">
        <a href="." title="{{ site.data.translations.minvwslogo[page.lang] }}">
            <span role="img" class="screenreader-only">{{ site.data.translations.minvws[page.lang] }}</span>
        </a>
    </div>
</header>
<nav class="top-nav top-nav--geel">
    <div class="container">
        <ul class="nav">
            <li class="nav__item">
                <a class="nav__link nav__link--active" href="." aria-current="page">{{ site.data.translations.community[page.lang] }}</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="{{ site.data.translations.statuslink[page.lang] }}"
                    rel="external">{{ site.data.translations.status[page.lang] }}</a></li>
        </ul>
    </div>
</nav>
