<header class="header" role="banner">
    <div class="header-logo">
         <a href="." title="{{ site.data.translations.minvwslogo[page.lang] }}">
            <span class="screenreader-only">{{ site.data.translations.minvws[page.lang] }}</span>
         </a>
    </div>
</header>
<nav class="top-nav top-nav--geel image-background">
    <div class="container">
        <div class="content-background">
            <div class="content">
                <header class="content__header">
                    <h1 class="content__header-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.translations.title[page.lang] }}{% endif %}</h1>
                    <p class="content__header-paragraph">{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.data.translations.description[page.lang] }}{% endif %}</p>
                </header>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav">
            <li class="nav__item">
                <a class="nav__link nav__link--active" href=".">{{ site.data.translations.community[page.lang] }}</a></li>
            <li class="nav__item">
                <a class="nav__link" href="{{ site.data.translations.statuslink[page.lang] }}" rel="external">{{ site.data.translations.status[page.lang] }}</a></li>
        </ul>
    </div>
</nav>
