{% capture site_url %}{{site.url}}{{site.baseurl}}{{page.url}}{% endcapture %}
{% capture site_url_escaped  %}{{ site_url | uri_scape }}{% endcapture %}
<div id="social" class="col-md-offset-1 col-md-10">
  <div class="content">
    <h2>Deel deze pagina</h2>
    <ul class="list list--links sharing">
      <li>
        <a href="https://www.facebook.com/sharer.php?u={{ site_url_escaped }}" title="Deel deze pagina op Facebook" rel="external">Facebook</a>
      </li>
      <li>
        <a href="https://twitter.com/share?url={{ site_url_escaped }}" title="Deel deze pagina op Twitter" rel="external">Twitter</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site_url_escaped }}" title="Deel deze pagina op LinkedIn" rel="external">LinkedIn</a>
      </li>
      <li>
        <a href="whatsapp://send?text={{ site_url_escaped }}" data-action="share/whatsapp/share" title="Deel deze pagina via WhatsApp">WhatsApp</a>
      </li>
      <li>
        <a href="mailto:?body={{ site_url_escaped }}" title="Deel deze pagina via E-mail">E-mail</a>
      </li>
    </ul>
  </div>
</div>
